# Python-Boilerplate/.gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

.venv/
venv/
env/

poetry.lock

.idea/
.vscode/

.pytest_cache/

.env
.env.*

.mypy_cache/
.ruff_cache/

*.log
