fail_fast: true

repos:
  - repo: local
    hooks:
      - id: repo-state-check
        name: repo-state-check
        entry: poetry run python scripts/repo_state_check_gui.py
        language: system
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: poetry run mypy src
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
      - id: check-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.1
    hooks:
      - id: ruff
      - id: ruff-format
